<div class="container">
		<div class="page-header">
			<center> <h1>Nueva Votacion</h1>   </center>     
		</div>
		<div class="CajaInicio animated bounceInRight">
			<h1> Complete todos los campos</h1>

			<form name="FormIngreso"  enctype="multipart/form-data" novalidate>

				<input type="radio" name="sexo" value="Male" ng-model="votacion.sexo"><label>Masculino</label><br>
 				<input type="radio" name="sexo" value="Famale" ng-model="votacion.sexo"><label>Femenino</label><br>

				<input type="text" name="dni" ng-model="votacion.dni" placeholder="ingrese dni" required/>

				<input type="text" name="partido" ng-model="votacion.partido" placeholder="Ingrese Partido" value="" required/> 

				<a class="btn btn-info " name="guardar" ng-click="Guardar()" ng-disabled="FormIngreso.$invalid && FormIngreso.sexo.$pristine"><span class="glyphicon glyphicon-save">&nbsp;</span>Votar</a>
					
				<input type="hidden" value="" id="idParaModificar" name="agregar" />
				<input type="hidden" value="" id="hdnAgregar" name="agregar" />
				</div>

			</form>
	</div>
	</div>